:root {
    --color-light: #eff6ee;
    --color-dark: #2b2d42;
    --color-red: #f02d3a;
}

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    box-sizing: border-box;
}

body, html {
    background-color: var(--color-light);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

nav {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
    margin-bottom: 3rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav ul li {
    padding: 0 .25rem;
}

.nav-link {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-icon {
    font-weight: 700;
}

main {
    width: 80%;
    max-width: 1366px;
    margin: 1rem auto;
    font-weight: 300;
}

.title {
    text-align: center;
}

.title-name {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-dark);
}

.sub-title {
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--color-dark)
}

h2 {
    background-color: var(--color-red);
    border-radius: 10px 10px 0 0;
    color: var(--color-light);
    font-weight: 400;
    font-size: 1.25rem;
    padding: .5rem;
}

.about {
    margin-top: 1.2rem;
}

.about-text {
    font-weight: 300;
    color: var(--color-dark);
    font-size: .9rem;
    line-height: 150%;
    padding: 0 .2rem;
}

@media only screen and (max-width: 600px) {
    .title-name {
        font-size: 1.75rem;
    }
    
    .sub-title {
        font-size: 1rem;
    }
}