:root {
	--color-light: #eff6ee;
	--color-dark: #2b2d42;
	--color-red: #f02d3a;
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 300;
	box-sizing: border-box;
}

body,
html {
	background-color: var(--color-light);
	color: var(--color-dark);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	scroll-behavior: smooth;
}

/* Header and Navigation */

header {
	background-color: var(--color-dark);
}

nav {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	color: var(--color-light);
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.nav-icon {
	padding: .5rem;
	margin: .6rem;
	flex-grow: 1;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 4;
}

.nav-link {
	text-decoration: none;
	font-weight: 500;
	color: var(--color-light);
	padding: .5rem;
	margin: .6rem;
	position: relative;
}

.nav-link::after {
	content: "";
	transform: scaleX(0);
	width: 100%;
	height: 3px;
	background-color: var(--color-light);
	position: absolute;
	bottom: 0;
	right: 0;
	transition: transform .3s ease-out;
	transform-origin: right;
}

.nav-link:hover::after {
	transform: scaleX(1);
}

.nav-icon a {
	font-weight: 700;
	color: var(--color-light);
	text-decoration: none;
}

/* Content */

main {
	width: 90%;
	max-width: 1200px;
	margin: 1rem auto;
	font-weight: 300;
}

.title {
	text-align: center;
	margin: 6rem 0;
}

.title-name {
	font-weight: 700;
	font-size: 2.5rem;
}

.sub-title {
	font-weight: 300;
	font-size: 1.25rem;
}

/* sections */

.section {
	margin: 4rem 0;
}

.section-title {
	background-color: var(--color-red);
	border-radius: 10px 10px 0 0;
	color: var(--color-light);
	font-weight: 400;
	font-size: 1.5rem;
	padding: .5rem;
	padding-left: 2rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.section-text {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 150%;
	padding: .5rem .2rem;
}

.about {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.logos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.logo {
	margin: .4rem;
}

.logo img {
	max-width: 70px;
	width: 100%;
	transition: transform .15s linear;
}

.logo:hover img {
	transform: scale(1.1);
}

.logo-text {
	opacity: 0;
	font-weight: 300;
	font-size: .7rem;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.logo:hover .logo-text {
	opacity: 1;
	transition: opacity .1s linear;
}

.text {
	width: 50%;
	align-self: center;
}

#projects .section-text {
	width: 95%;
	margin: 0 auto;
}

.project {
	margin-bottom: 1.2rem;
}

.project-title {
	font-weight: 700;
	margin-bottom: 1rem;
}

.fa {
	color: var(--color-dark);
}

.contact-icons {
	display: flex;
	justify-content: center;
}

.contact-icons a {
	font-size: 5rem;
	display: block;
	margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
	.title-name {
		font-size: 1.75rem;
	}

	.sub-title {
		font-size: 1rem;
	}

	.about {
		flex-direction: column;
		align-items: center;
	}

	.text {
		order: -1;
		width: 100%;
	}
}
